In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# 1차 수정

In [ ]:
df=pd.read_csv('/content/술 - 시트3.csv')

In [ ]:
df=df[['cat','기본 아이템','Unnamed: 4','Unnamed: 5']]
df.columns=['cat','item1','item2','item3']
df.head()

,cat,item1,item2,item3
0,소주퇴근,"길비스, 핀란디아, 화이트 레이크","블랙 앤 화이트, 칼라일, 앱솔루트, 딥에디 - 오리지널",NaN
1,소주승리,NaN,"길비스,100 파이퍼스,탈리스만,비피터,스미노프 - 레드,호세쿠엘보,예거 마이스터,...",NaN
2,소주연인,스미노프 - 레드,"앱솔루트 - 자몽, 그레이 구스, 길비스, 핀란디아, 깔루아",NaN
3,소주위로,"딥에디 - 오리지널, 그레이 구스","에반 윌리엄스, 앱솔루트, 화이트 레이크, 핀란디아, 핸드릭스, 봄베이 사파이어",NaN
4,소주축제,NaN,"아페롤,파쏘아,아페롤 스프리츠,호세쿠엘보 마가리타,피치트리,바카디 모히또,업타운 마가리타",NaN

In [ ]:
df['level2']=df['cat'].apply(lambda x:x[-2:])
df['level1']=df['cat'].apply(lambda x:x[:len(x)-2])

In [ ]:
df=df.fillna('')

In [ ]:
df['name']=df['item1'].str.cat(','+df['item2']).str.cat(','+df['item3'])

In [ ]:
df=df[['level1','level2','name']]

In [ ]:
df['name']=df['name'].apply(lambda x:x.split(','))

In [ ]:
df2=pd.DataFrame(df['name'].to_list())

In [ ]:
df=pd.concat([df,df2], axis=1)

In [ ]:
df=df.drop('name',axis=1)
df=df.set_index(['level1','level2'])

In [ ]:
df=pd.DataFrame(df.stack())
df.columns=['name']
df=df.reset_index()

In [ ]:
df['name']=df['name'].apply(lambda x:x.replace(' ',''))

In [ ]:
def err_replace(x):
  y=''
  if x=='딥에디-스위트':
    y='딥에디-스위트티'
  elif x=='싱글톤-더프타운12':
    y='싱글톤-더프타운12년'
  elif '페이머스' in x:
    y='페이머스그라우스'
  else:
    y=x
  return y

In [ ]:
df['name']=df['name'].apply(err_replace)

In [ ]:
df=df[df['name']!='']

In [ ]:
df.head()
df.to_csv('/content/drive/MyDrive/colab/data/testdata.csv')

# 2차 수정

In [15]:
df=pd.read_csv("/content/testdata.csv")
df1=pd.read_csv("/content/metadata.csv")
df.head()

   Unnamed: 0 level1 level2  level_2    name
0           0     소주     퇴근        0     길비스
1           1     소주     퇴근        1    핀란디아
2           2     소주     퇴근        2  화이트레이크
3           3     소주     퇴근        3  블랙앤화이트
4           4     소주     퇴근        4     칼라일

In [16]:
df1['name']=df1['name'].apply(lambda x:x.replace(" ",''))

In [17]:
df=df[['level1','level2','name']]
df2=pd.merge(df,df1,on='name', how='left')

In [21]:
df2=df2.drop('name', axis=1)

In [22]:
df2.to_csv('/content/testdata.csv')